* {
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    font-family:Segoe UI Emoji;
}
div.nav {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border: none;
    border-bottom: 2px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(food3.jpg);
}

div.ul li {
    top: 0px;
    margin-right: 20px;
    list-style-type: none;
}

ul.navlist {
    display: flex;
}

ul.navlist>li {
    flex-flow: row nowrap;
}

a {
    text-decoration: none;
}

a.A,
a.B,
a.C,
a.D {
    margin: 0 20px;
}

a.B {
    color: white;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid red;
    transition-property: all;
    transition-duration: 0.1s;
}

a.A,
a.C,
a.D {
    color: white;
    font-size: 17px;
    transition-property: all;
    transition-duration: 0.1s;
}

a.A:hover,
a.B:hover,
a.C:hover,
a.D:hover {
    font-size: 19px;
    font-weight: bolder;
    color: red;
}

input[type="search"] {
    background: transparent;
    backdrop-filter: blur(100px);
    height: 42px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(111, 103, 103);
    border-radius: 8px;
    color: white;

    font-size: 20px;
    transition-property: all;
    transition-duration: 0.3s;
    margin: 31px 30px 0 0;
}

input[type="search"]:hover,
input[type="search"]:focus {
    width: 205px;
    border: 2px solid red;
}

button.btn1,
button.btn2 {
    margin: 10px 10px 0;
}

button.btn1 {
    font-size: 15px;
    color: white;
    height: 42px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background: red;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}

button.btn1:hover {
    border: 1px solid white;
    background: transparent;
    backdrop-filter: blur(100px);
    font-size: 20px;
    font-weight: bolder;
}

button.btn2 {
    height: 42px;
    width: 120px;
    border: 1px solid white;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(100px);
    cursor: pointer;
    color: white;
    font-size: 15px;
    transition-property: all;
    transition-duration: 0.3s;
}

button.btn2:hover {
    border: none;
    background: red;
    font-size: 20px;
    font-weight: bolder;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background: url(https://preview.redd.j);
    background-size: cover;
    height: calc(100vh-80px);
}

@media (max-width:952px) {
    ul.navlist li a {
        font-size: 25px;
    }
}

@media (max-width:1100px) {
    .checkbtn {
        display: block;
    }

    ul.navlist {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000b6;
        top: 34px;
        left: -100%;
        text-align: center;
        display: block;
        margin: 50px 0;
        transition: all 0.4s;
    }

    ul.navlist li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    ul.navlist li a {
        font-size: 30px;
        transition: all;
    }

    a.A:hover,
    a.B:hover,
    a.C:hover,
    a.D:hover {
        background: none;
        color: red;
        font-size: 35px;

    }

    #check:checked~ul {
        left: 0;
    }
}

.menuicon {
    margin: 25px 0 0 25px;
}
main.main{
    width: 100%;
    align-content: center;
    text-align: center;
    padding:5px 0 0;
    background: radial-gradient(circle at bottom right, red, 20%, black 90%);
}
.p1{
    font-size:65px;
    color: white;
    padding:0;
}